

@font-face{
    font-family: "farm";
    src: url("font/farm.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "Noodle";
    src: url(font/big_noodle_titling.ttf);
    font-weight: normal;
    font-style: normal;
}


body{
    background-image: url("img/cat.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:contain;
    background-color: rgb(50, 26, 26);
}

h3{
    text-align: center;
    border: 0px solid red;
    max-width: 400px;
    font-size: 50px;
    color: rgb(240, 219, 191);
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    font-family: "farm",'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

p{
    max-width: 400px;
    color: rgb(240, 219, 191);
    margin-top: 10px;
    margin-bottom: 0px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    border: 0px solid red;
}

#boxes{
    border: 0pt solid rgb(243, 229, 211);
    padding: 100px;
    display:flex;
    align-items: flex-end;
    flex-direction: column;
    max-width: 500px;
    margin-left: auto;
    margin-right: 100px;
    margin-bottom: -100px;
    justify-content: center;
}

video{
    width: 100%;
    max-width: 375px;
    min-width: 150px;
    height: auto;
    border: 13pt ridge rgb(200, 164, 120);
    margin:50px;
    margin-bottom: 100px;
    margin-top: 15px;
}

#welcomelink{
    border: 10pt ridge rgb(200, 164, 120);
    padding: 25px;
    background-color: rgb(175, 164, 143);
    color: rgb(45, 39, 63);
    font-size: 39px;
    font-family:  Noodle, sans-serif;
    max-width: 350px;
    margin-bottom: 0px;
    margin: 30px;
    margin-left: 20px;
    margin-top: 0px;
    text-decoration: none;
}

#opening{
    border: 10pt ridge rgb(200, 164, 120);
    padding: 25px;
    background-color: rgb(175, 164, 143);
    color: rgb(45, 39, 63);
    font-size:38px;
    font-family: Noodle, sans-serif;
    max-width: 350px;
    margin-bottom: 100px;
    margin: 30px;
    margin-left: 20px;
    margin-top: -50px;
}







